doctype html
html
	head
	script(src='https://code.jquery.com/jquery-2.1.4.min.js')
	link(href='css/style.css' rel='stylesheet')
	body
				textarea(class='markdown')
				button(id="buttton") Convert to HTML
				#htmlz
				script(src='js/main.js')
